@import '../../scss/variable/variable';
.top-block{
    height: 100vh;
    background-color: var(--bgc-def);
    max-width: calc(100%);
    box-sizing: border-box;
    padding: 300px 0;

    .top-block__title{
        margin: auto;
        text-align: center;
        font-size: 3em;
        font-weight: 600;
        color: var(--color-inside-dark-block);
        transition: .5s ease all;
        max-width: 700px;
        min-width: 300px;

        &.scrollShow{
            @include scroll-show;
        }
    }
}

@media screen and (max-width: 900px) {
    .top-block{
    .top-block__title{
        font-size: 2em;
        max-width: 450px;
    }
}
}