@use '../blocks/section/section';
@use '../blockS/my-scills/my-scills';
@use '../blocks/my-bio/my-bio';
@use '../blocks/top-block/top-block';
@use '../blocks/choose-image/choose-image';
@use '../blocks/error/error';
@use '../blocks/registr/registr';
@use '../blocks/note/note';
@use '../blocks/button/button';
@use '../blocks/header/header';
@use '../blocks/input/input';
@use '../blocks/arrow-top/arrow-top';


@font-face {
    font-family: 'btfont';
    src: url('../../node_modules/@uiw/bootstrap-icons/fonts/btfont.ttf');
    src: url('../../node_modules/@uiw/bootstrap-icons/fonts/');
}
*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}
:root{
    --bgc-block:#fdfdfd;
    --bgc-def: #2326c6b8;
    --color-inside-dark-block:#ffffff;
    --color-outside-dark-block:#181818;
    --color-normal-text:#000;
    --color-hover-text: #c62326;
    --color-hover-border-block: #2326c6b8;
    --color-green:#26c623;
    --color-valid: #c62326;

} 
a{text-decoration: none;color: var(--color-inside-dark-block);}
ul{list-style-type: none;}

body::-webkit-scrollbar{width: 7px; opacity: 0;}
body::-webkit-scrollbar-thumb{
    border-radius: 10px;
    height: 10px;
    background-color: #26c623;
}
body::-webkit-scrollbar:hover::-webkit-scrollbar-thumb{
    opacity: 1;
}
body{background-color: var(--bgc-block);}
