.head{
    padding: $padding-big - 30 $padding-big + 50;
    @extend %flex-content;
    background-color: var(--bgc-def);
    color: var(--color-inside-dark-block);
    filter: blur(2);
    justify-content: space-between;
    height: fit-content;

    .head-title{
        font-weight: bold;
        font-size: 2em;
        @extend %flex-content;
        justify-content: space-between;
        width: 450px;

        
    }

    .head-nav{
        margin-right: 20px;
        color: var(--color-inside-dark-block);

        .head-nav-ul{
            list-style-type: none;
            @extend %flex-content;

            .nav__li{
                border-top: 3px solid var(--color-inside-dark-block);
                padding: 0 5px;
                transition: all ease .3s;
                position: relative;
                margin: 0 10px;
                // text-decoration: overline;
                font-size: 1.2em;

                &>a{
                    transition: all ease .3s;
                    text-decoration: none;
                    color: var(--color-inside-dark-block);
                    
                }
            }
            .nav__li::before{
                content: "";
                position: absolute;
                display: block;
                top: 0;
                left: 0;
                width: 100%;
                height: 0px;
                opacity: 0;
                background-color: #ff0000;
            }
            .nav__li:hover.nav__li::before{
                height: 100%;
                opacity: .5;
                transition: .3s ease all;
            }
        }
    }
    .head__profile{

        @extend %flex-content;

        .head__Sign{margin:0 10px;cursor: pointer;};
        .head__Log{margin:0 10px;cursor: pointer;};

        .profile-img>img{
            cursor: pointer;
            border-radius: 50%;
            max-width: 100px;
            height: 100px;
        }
        .profile-img.size-sm>img{
            width: 40px;
            height: 40px;
        }

        .profile-drop__block{
            display: none;
            position: absolute;
            margin-top: 5px;
            min-width: 100px;
            border-radius: 3px;
            padding: 15px;
        }
        .profile-drop_isActive.profile-drop__block{display: block;}
        .profile-option{
            box-sizing: border-box;
            box-shadow: 0 0 5px 1px #00000068;
            background-color: var(--bgc-block);
            color: var(--color-normal-text);

            .profile-option__name {
                border-bottom: 1px solid #0000002b;
                padding-bottom: 10px;
            }
            .profile-option__nikname{font-weight: 500;}
            .profile-option__status{font-weight: 400;}

            .profile-option__items{
                padding: 10px 5px;

                .profile-option_div{
                    cursor: pointer;
                    display: flex;
                    padding: 5px 0;
                    align-items: center;

                    &:hover{opacity: .8;}
                    &>svg{margin-right: 3px;}
                }
                .profile-option_close{
                    color: #c62326;
                }
            }
        }
    }
}