@import '../../scss/variable/variable.scss';
.head{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: $padding-big - 30 $padding-big + 50;
    @include flex-content;
    // background-color: var(--bgc-def);
    color: var(--color-inside-dark-block);
    justify-content: space-between;
    height: fit-content;
    transition: .2s ease all;
    z-index: 5;

    .head-title{
        font-weight: bold;
        font-size: 2em;
        @include flex-content;
        justify-content: space-between;
        width: 300px;

        
    }
    &.head_static{
        background-color: var(--bgc-def);
        position: static;

    }
    &.haed_fixed{background-color: var(--bgc-def);;position: fixed;}

    .profile-img>img{
        cursor: pointer;
        border-radius: 50%;
        width: 100px;
        height: 100px;
        min-width: 0;
    }
    .head-nav{
        margin-right: 20px;
        color: var(--color-inside-dark-block);

        .head-nav-ul{
            list-style-type: none;
            @include flex-content;

            .nav__li{
                border-top: 3px solid var(--color-inside-dark-block);
                padding: 0 5px;
                transition: all ease .3s;
                position: relative;
                margin: 0 10px;
                // text-decoration: overline;
                font-size: 1.2em;

                &>a{
                    transition: all ease .3s;
                    text-decoration: none;
                    color: var(--color-inside-dark-block);
                    
                }
            }
            .nav__li::before{
                content: "";
                position: absolute;
                display: block;
                top: 0;
                left: 0;
                width: 100%;
                height: 0px;
                opacity: 0;
                background-color: #ff0000;
            }
            .nav__li:hover.nav__li::before{
                height: 100%;
                opacity: .5;
                transition: .3s ease all;
            }
        }
    }
    .head__profile{

        @include flex-content;

        .head__Sign{margin: 0 10px;cursor: pointer;};
        .head__Log{margin:0 10px;cursor: pointer;};

        .profile-img.size-sm>img{
            width: 40px;
            height: 40px;
        }

        .profile-drop__block{
            display: none;
            position: absolute;
            margin-top:0;
            right: 60px;
            min-width: 100px;
            border-radius: 3px;
            padding: 15px;
        }
        .profile-drop_isActive.profile-drop__block{display: block;}
        .profile-option{
            box-sizing: border-box;
            box-shadow: 0 0 5px 1px #00000068;
            background-color: var(--bgc-block);
            color: var(--color-normal-text);

            .profile-option__name {
                border-bottom: 1px solid #0000002b;
                padding-bottom: 10px;
            }
            .profile-option__nikname{font-weight: 500;}
            .profile-option__status{font-weight: 400;}

            .profile-option__items{
                padding: 10px 5px;

                .profile-option_div{
                    cursor: pointer;
                    display: flex;
                    padding: 5px 0;
                    align-items: center;

                    &:hover{opacity: .8;}
                    &>svg{margin-right: 3px;}
                }
                .profile-option_close{
                    color: #c62326;
                }
            }
        }
    }
}

.head_pos-fix{
    animation: showFixHead .5s ease;
    position: fixed;
    background-color: #2326c6;
    filter: blur(3);
}

@keyframes showFixHead {
    5%{
        top: -60px;
    }
    100%{
        top: 0px;
        opacity: 1;
    }
}

@media screen and (max-width: 1080px) {
    .head{
        padding: $padding-big - 30 $padding-big;
    }
}
@media screen and (max-width: 900px) {
    .head{justify-content: normal;}
    .head-title{margin-right: 40%;width: fit-content;}
    .head-nav{
        margin: 0;
        padding: 5px 0;


        .head-nav-ul{
            margin: auto;
            display: block;
            color: #000;
            width: fit-content;
            text-align: center;
            .nav__li{border: none;}
            .nav__li::before{content: none;}
        }
    }
    .nav_version_mobile{
        height: 0;
        opacity: 0;
        background-color: var(--bgc-block);
        transition: ease all .4s ;
        padding: 20px;
        font-size: 1.5em;
        // color: #000;
        border-radius: 0 0 4px 4px;
        box-shadow: 0 0 1px .5px #0000005f;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 10;
        
        .nav__li{
            padding: 10px 0;
        }
        & a{color: #000;}
    }
    .profile_version_mobile{

        .profile-img>img{
            width: 60px;
            height: 60px;
            margin: 0 10px;
        }
        .profile-drop__block{
            max-width: 500px;
            font-size: 2em;
            right: 10%;
        }
    }
    .nav_version_mobile.list-open-nav_isActive{
        opacity: 1;
        height: fit-content;
    }
    .list-open-nav{z-index: 1;}
}
@media screen and (max-width: 500px)
{
    .head-title{margin-right: 20%;width: fit-content;}
    .profile_version_mobile{
        .profile-drop__block{
            max-width: 600px;
            font-size: 3em;
        }
    }
}